<section class="regionpage">
<search>
<div class="search">    
    <label>Search</label>
    <input ng-model="query" placeholder="search..." autofocus>
           <label class="formgroup">:by
        <select ng-model="regionOrder">
            <option value="region_id">city_id</option>
               <option value="regiony_name">city_name</option>
               </select>        
    </label>
     <label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" >
    asceding</label>
    <label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" value="reverse">
    desceding</label>    
    </div>
</search>
    <div class="menu" id="tabs" >
					<ul style="height:60px;">
                        <li><a href="IndexCities.html">Cities</a></li>
						<li><a href="IndexRegions.html">Regions</a></li>
						<li><a href="index.html">Teams</a></li>
				   </ul>					
    </div>
    
<ul class="list">
    <li class="region cf" ng-repeat="item in regions | filter: query | orderBy: regionOrder:direction">   
      <a href="#/details/{{regions.indexOf(item)}}"> 	  
	  <div class="info">	 
          <h2>{{item.region_id}}</h2>
        <h2>{{item.region_name}}</h2>
        <h3>{{item.lat}}</h3>
          <h3>{{item.long}}</h3>
		  <img ng-src="imagesUni/{{item.flag}}">
        <img ng-src="imagesUni/{{item.location}}"  >
      </div>	   
        </a>		
    </li>
  </ul>
  </section>
  
 